# Local hardware and OS files
.DS_Store
Thumbs.db

# Terraform-specific files
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform Cloud / HCP Terraform 
# (HCP Terraform manages state, so local state files are trash)
terraform.tfstate
terraform.tfstate.backup

# Sensitive Variables
*.tfvars
*.tfvars.json

# Local environment files
.env
.env.*

# Provider-specific logs
*.log