@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-surface: hsl(var(--surface));
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 220 10% 10%;
    --border: 220 10% 90%;
    --surface: 0 0% 100%;
  }

  .dark {
    --background: 220 10% 10%;
    --foreground: 0 0% 95%;
    --border: 220 10% 20%;
    --surface: 220 10% 13%;
  }
}

body {
  @apply bg-background text-foreground transition-colors duration-300;
}
